html, 
body {
    height: 100%;
}

body {
  padding: 0;
font-family: 'Raleway', sans-serif;
color: #000;
    

background: #79B8B5; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #79B8B5 , #eea849); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #79B8B5 , #669B9B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

i.fa {
    color:#E3EFS7;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
}

.navbar {
    background: #79B8B5; !important;
    font-weight: 800;
    font-size: 1.2em;
    color:#E3F0D7; !important
    font-family: 'Raleway';
    margin:0;
}

.header h3 {
margin-top: 0;
margin-bottom: 0;
line-height: 40px;
padding-bottom: 19px;
}

.footer {
    position: absolute;
    bottom:20px;
    left:30px;
}

.nav-right {
    margin-right:5px;
}

.profilePic {
    margin: 5px;
    height:40px;
}

.finul{
    list-style-type: none; 
    margin:  0; 
    padding: 0; 
    width: 100%;
}

.finli {
    margin: 2%; 
    float: left; 
    width: 20%; 
    height: 200px; 
    font-size: 2em; 
    text-align: center; 
}

/* Opacity #1 */
.hover11 {
	opacity: .7;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11:hover{
	opacity: 1;
}

.hover07 {
	-webkit-filter: blur(1px);
	filter: blur(1px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover07:hover {
	-webkit-filter: blur(0);
	filter: blur(0);
}

/* Gray Scale */
.hover08{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* Opacity #2 */
.hover12 {
	background: #1abc9c;
}
.hover12 {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12:hover {
	opacity: .8;
}


/* Circle */
.hover15 {
	position: relative;
}
.hover15::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover15:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}


@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; // In yourUse @body-bg 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #4078C0;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

canvas {
  display: block;
  vertical-align: bottom;
    z-index: -9999;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #7ab8b4;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius:  0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0;
}
